<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Les employés
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_employee') }}">Liste des employés</a></p>
            <p><a href="{{ path('app_register') }}">Ajouter un employé</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Les annonces
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_vehicule') }}">Liste des annonces</a></p>
            <p><a href="{{ path('app_vehicule_add') }}">Ajouter une annonces</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Les horaires
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_schedule') }}">Liste des horaires</a></p>
            <p><a href="{{ path('app_schedule') }}">Modifier les horaires</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Les services
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_service') }}">Liste des services</a></p>
            <p><a href="{{ path('app_add_service') }}">Ajouter un service</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Les témoignages
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_testimony') }}">Liste des témoignages</a></p>
        </div>
    </article>
</aside>