{% extends 'base.html.twig' %}

{% block title %}Nos véhicules{% endblock %}

{% block body %}

	<h2>Consulter notre catalogue de véhicules d'occasion</h2>

	<p>L'équipe du Garage Vincent Parrot ajoute régulièrement des véhicules d'occasion. Ils sont tous entretenus régulièrement et vérifiés par nos mécaniciens pour vous proposer les meilleurs affaires de la ville de Toulouse.</p>

	<div> 
    <button> FILTRER LA RECHERCHE </button>
    <form>
        <div>
        <p>Prix max :<p>
        <input type="range" name="Price"  min="0" max="40000" step="1000" value="20000" />
        <label for="price"></label>
        <output> - </output>€
        </div>
        
        <div>
        <p>Kilométrage max:</p>
        <input type="range" name="kilometre" min="0" max="280000" step="10000" value="140000" />
        <label for="kilometre"></label>
        <output> - </output>km
        </div>

        <div>
        <p>Années max :</p>
        <input type="range" name="year" min="1997" max="2024" step="1" value="2000" />
        <label for="year"></label>
        <output> - </output>
        </div>
    </form>
</div>

            {% for announcement in announcement %}
				<div class="card w-50">
					<div class="card-body">
						{{ announcement.title }}
						{{ announcement.description }}
						{{ announcement.technical_info }}
                        {{ announcement.brand }}
                        {{ announcement.price }}
                        {{ announcement.year }}
                        {{ announcement.kilometre }}
						<a class="boutondetails" href="{{ path('app_contact', {'id': announcement.id}) }}" target="_blank">Demande d'informations</a>
					</div>
				</div>
			{% endfor %}

{% endblock %}
