{% extends 'base.html.twig' %}

{% block title %}Nos horaires{% endblock %}

{% block body %}

<h2 class="titre-section">Nos horaires</h2>
<br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Jour</th>
				<th scope="col">Matin</th>
				<th scope="col">Après-midi</th>
			</tr>
		</thead>
		<tbody>
			{% for schedule in schedule %}
				<tr>
					<th scope="row"></th>
					<td>{{ schedule.day }}</td>
					<td>{{ schedule.openingHour }} - {{ schedule.closingHour }}</td>
					<td>{{ schedule.openingAfternoon }} - {{ schedule.closingAfternoon }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>

{% endblock %}
